body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F7F6;
    color: #24312B;
    line-height: 1.5;
    margin: 0;
}

header {
    background-color: #1F6F43;
    color: #FFFFFF;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: #FFFFFF;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    margin: 0;
    font-size: 32px;
}

h2 {
    color: #1F6F43;
}

h3 {
    color: #2F80ED;
}

article {
    background-color: #D9F0FF;
    padding: 15px;
    margin-top: 15px;
    border-left: 4px solid #2F80ED;
    border-radius: 6px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

figure {
    margin: 15px 0;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

figcaption {
    margin-top: 5px;
    color: #24312B;
    font-size: 14px;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    color: #24312B;
}

input,
select,
textarea {
    width: 100%;
    max-width: 500px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #A7D7B8;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #1F6F43;
    color: #FFFFFF;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
}

footer {
    background-color: #24312B;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

nav a:hover {
    color: #D9F0FF;
    text-decoration: underline;
}
/* login.html */
.login {
    background-color: #2F80ED;
    color: #FFFFFF;
    padding: 8px 14px;
    border-radius: 5px;
}

.login:hover {
    background-color: #1F6F43;
    color: #FFFFFF;
    text-decoration: none;
}

.volver {
    color: #2F80ED;
    text-decoration: none;
    font-weight: bold;
}

.volver:hover {
    color: #1F6F43;
    text-decoration: underline;
}

button:hover {
    background-color: #2F80ED;
    cursor: pointer;
}

address {
    background-color: #D9F0FF;
    padding: 15px;
    border-left: 4px solid #2F80ED;
    border-radius: 6px;
    font-style: normal;
    max-width: 700px;
    margin: 15px auto;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}